.DS_Store

.config/*
!.config/starship.toml
!.config/nvim
!.config/git
!.config/alacritty
!.config/topgrade
!.config/zellij
!.config/zsh
!.config/brewp
!.config/atuin
!.config/tmux
.config/tmux/plugins
!.config/neomutt
!.config/weechat
!.config/1Password/ssh/agent.toml
!.config/psync
!.config/elinks
