!starship.toml
!nvim
!git
!alacritty
!topgrade
!zellij
!zsh
!brewp
!atuin
!tmux
tmux/plugins
!neomutt
!weechat
!1Password/ssh/agent.toml
!psync
!Code
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json
