!starship.toml
!nvim
!git
!alacritty
!topgrade
!zellij
!zsh
!brewp
!atuin
!tmux
!neomutt
!psync
!sway

!1Password
1Password/*
!1Password/ssh
1Password/ssh/*
!1Password/ssh/agent.toml

!Code
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json
