!alacritty
!atuin
!git
!helix
!neomutt
!nvim
!psync
!starship.toml
!sway
!tmux
!topgrade
!vim
!w3m
!waybar
!zellij
!zsh

!1Password
1Password/*
!1Password/ssh
1Password/ssh/*
!1Password/ssh/agent.toml

!Code
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json
